p{
  color:white;
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 10px white);
}

#center{
  filter: drop-shadow(0 0 5px #09fbd3) drop-shadow(0 0 10px #09fbd3);
}

#item1{
  filter: drop-shadow(0 0 5px #09fbd3) drop-shadow(0 0 10px #09fbd3);
}

#item2{
  filter: drop-shadow(0 0 5px #09fbd3) drop-shadow(0 0 10px #09fbd3);
}

#item3{
  filter: drop-shadow(0 0 5px #09fbd3) drop-shadow(0 0 10px #09fbd3);
}

#item4{
  filter: drop-shadow(0 0 5px #09fbd3) drop-shadow(0 0 10px #09fbd3);
}

@keyframes strokeAnimation{
  from{
    stroke-opacity: 1;
  }
  to{
    stroke-opacity: 0;
  }
}
