{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "jest",
    "prettier",
    "import",
    "unused-imports"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
    "react/jsx-curly-newline": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".tsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "arrowParens": "always"
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "pathGroups": [
          {
            "pattern": "react**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@material-ui/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ],
    "unused-imports/no-unused-imports": "error",
    "react/function-component-definition": [ 
      2,
      { "namedComponents": "arrow-function" }
    ]
  }
}
